<da-layout-row [daGutter]="[0, 0]">
  <da-col-item [daStyle]="{ width: '800px'}">
    <form
      dForm
      [labelAlign]="'end'"
      style="margin: 20px auto"
    >
      <d-form-item>
        <d-form-label [required]="true">资源种类名称</d-form-label>
        <d-form-control>
          <input
            dTextInput
            autocomplete="off"
            name="name"
            placeholder="请输入资源种类名称"
            [(ngModel)]="data.name" />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">资源显示名称</d-form-label>
        <d-form-control>
          <input
            dTextInput
            autocomplete="off"
            name="nickname"
            placeholder="请输入资源种类显示名称"
            [(ngModel)]="data.nickname" />
        </d-form-control>
      </d-form-item>

      <d-form-item>
        <d-form-label [required]="true">资源种类描述信息</d-form-label>
        <d-form-control>
          <input
            dTextInput
            name="description"
            [(ngModel)]="data.description"
            placeholder="资源种类描述信息"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">标签</d-form-label>
        <d-form-control>
          <input
            dTextInput
            name="tag"
            [(ngModel)]="data.tag"
            placeholder="资源种类标签"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">表单结构</d-form-label>
        <d-form-control>
          <da-admin-form
            *ngIf="HTMLFormJSON.items"
            [formConfig]="HTMLFormJSON"
            class="editable-row"
            ></da-admin-form>

          <div
            *ngIf="!addFormField"
            (click)="openAddHtmlFormDialog()"
            class="cursor-pointer"
            >
            <span class="tips-icon icon-add"></span>
            <span style="margin-left: 10px">添加新字段</span>
          </div>
          <div  class="edit-padding-fix">
            <da-admin-form
              *ngIf="addFormField"
              [formConfig]="formConfig"
              [formData]="defaultRowData"
              class="editable-row"
              (submitted)="quickRowAdded($event)"
              (canceled)="quickRowCancel()"></da-admin-form>
          </div>
        </d-form-control>
      </d-form-item>
    </form>
  </da-col-item>
</da-layout-row>
