<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item
      ><a routerLink="/">
        {{ 'startUsing.breadcrumb.home' | translate }}
      </a></d-breadcrumb-item
    >
    <d-breadcrumb-item>
      {{ 'startUsing.breadcrumb.start' | translate }}
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      {{ 'startUsing.breadcrumb.example' | translate }}
    </d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    {{ 'startUsing.examplePage.name' | translate }}
  </div>
  <div>
    {{ 'startUsing.examplePage.description' | translate }}
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">
        <p>
          {{ 'startUsing.examplePage.content' | translate }} <a href="https://devui.design/admin-page/docs" target="_blank">{{ 'startUsing.docLink' | translate }}</a>
        </p>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
