<da-layout-row [daGutter]="[0, 0]">
  <da-col-item [daStyle]="{ width: '300px', height: '200px'}">
    <form
      dForm
      [labelAlign]="'end'"
      style="margin: 20px auto"
    >
      <d-form-item>
        <d-form-label [required]="true">绑定集群到应用</d-form-label>
        <d-form-control>
          <d-select
            [options]="ClusterOptions"
            [(ngModel)]="data.cluster"
            [multiple]="false"
            [name]="'name'"
            placeholder="请选择"
            [filterKey]="'name'"
            [allowClear]="true"
            [isSearch]="true"
            [dValidateRules]="[{ required: true }]">
          </d-select>
        </d-form-control>
      </d-form-item>
    </form>
  </da-col-item>
</da-layout-row>
