<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/">{{ "dashboard.home.breadcrumb" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ "dashboard.workflow.breadcrumb" | translate }}
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ "dashboard.workflow.home.breadcrumb" | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
  <div class="da-content-wrapper">
  </div>
</div>
