 <da-layout-row [daGutter]="[0, 0]">
  <da-col-item [daStyle]="{ width: '600px', height: '800px'}">
    <form
      dForm
      [labelAlign]="'end'"
      style="margin: 20px auto"
    >
      <d-form-item>
        <d-form-label [required]="true">用户名称(username)</d-form-label>
        <d-form-control>
          <input
            dTextInput
            autocomplete="off"
            name="username"
            placeholder="请输入英文前缀比如lcl"
            [(ngModel)]="data.username" />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">用户显示名称(nickname)</d-form-label>
          <d-form-control>
            <input
              dTextInput
              autocomplete="off"
              name="nickname"
              placeholder="请输入中文名, 比如卢小路"
              [(ngModel)]="data.nickname" />
          </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">所属部门(department)</d-form-label>
        <d-form-control>
          <d-select
            [options]="departmentOptions"
            [(ngModel)]="data.department"
            [isSearch]="true"
            [multiple]="false"
            placeholder="请选择所属部门"
            [name]="'department'"
            [filterKey]="'name'"
            [dValidateRules]="[{ required: true }]">
          </d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">登录密码(password)</d-form-label>
        <d-form-control>
          <input
            dTextInput
            name="password"
            type="password"
            [(ngModel)]="data.password"
            placeholder="用户登录密码"
            />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">性别(gender)</d-form-label>
        <d-form-control>
          <d-select
            [(ngModel)]="data.gender"
            [options]="genderOptions"
            [name]="'gender'"
            placeholder="请选择用户性别"
            [dValidateRules]="[{ required: true }]"
            >
          </d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">电话(phone)</d-form-label>
        <d-form-control>
          <input
            dTextInput
            name="phone"
            [(ngModel)]="data.phone"
            placeholder="请输入用户电话"
            />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">邮件(mail)</d-form-label>
        <d-form-control>
          <textarea
            dTextarea
            name="mail"
            [(ngModel)]="data.mail"
            placeholder="请输入用户邮件"
            >
          </textarea>
        </d-form-control>
      </d-form-item>
    </form>
  </da-col-item>
</da-layout-row>
